
body{
	background-color: #3b5998;

	overflow-x: hidden;
}
.text-color{
	color:#3b5998;
}
.text-white{
	color: white;
	 filter: drop-shadow(0px 10px 10px black);
}
.about,.new,.photos,.photo,.friends,.about-section,.movies,.jumboProfile,.profileNavbar{
	
}
.mainNavbar{
	margin-bottom:0;
	background-color: white	;
	color:black;
	border: 0;	
	z-index: 9999;
	border-radius: 0;
	height:10vmin;
	filter: drop-shadow(0px 8px 8px black);
}
.collapse1{
	padding-left: 0;
	padding-right: 0;
}
.navbar a{
	color:#3b5998!important;
}
a:hover{
	background-color: blue;
}
.navbar{
	margin-bottom: 0px!important;
}
li{
	cursor: pointer;
}

.navbar-header{
    color: blue!important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    background-color: white !important;

}
.navbar-nav{
	background-color: white;
	margin-bottom: 0;
	margin-top: 0;
}
#myImg{
	width:25vmin;
	height:25vmin;
	position: relative;
	margin-left: 0!important;
	top:10vmin;
	margin-bottom: 0vmin!important;
	filter: drop-shadow(0px 8px 8px white);
}
#name{
	color:white;
	font-weight: bold;
	filter:drop-shadow(0px 0px 25px #3b5998);
	margin-bottom: 6vmin!important;
}
h2{
	font-size: 5vmin
}
.jumbotron {
	background-position: 50% 50%; 
	background-size: cover ; 
	height:55vmin;
	margin-bottom:0;
	padding-bottom: 0;
	margin-left: 0px!important;
		filter: drop-shadow(0px 8px 8px black);
}
.jumboProfile{
	margin-top: 2%;
	padding-left: 0px;
	padding-right: 0px;
}
.profileNavbar{
	padding-left: 0px;
	padding-right: 0px;
	margin-bottom: 0vmin!important;
	padding-bottom: 0!important;
	
}
.navbarColor{
	background-color: white;
}
.navlist{
	margin-left: 0px!important;
	padding-left: 0;
	
	margin-right: 0px;
	margin-bottom: 0vmin!important;
	padding-bottom: 0vmin!important;

}
.aboutnew{
	
	
}
.about{
	margin-top:8vmin!important;
	padding-top: 0px!important;
	border:0px!important;
	background-color: white;
	color:#3b5998;
	float: left;
		filter: drop-shadow(0px 8px 8px black);
	
}
.about_entries_left{
	margin-top: 2vmin;
}
.about_entries_right{
	margin-top: 2vmin;
	float:right;
}
.new{
	margin-top:8vmin!important;
	padding-left: 0px!important;
	padding-right: 0px!important;
	float: right;
		filter: drop-shadow(0px 8px 8px black);
}

.well{
	background-color: white;
	color:#3b5998;
	border:0;
	padding-top: 3px;
	margin-bottom: 0;
}

.movies{
	margin-top: 8vmin!important;
	
	color:#3b5998;
	background-color: white;
	padding-bottom: 5vmin;
		filter: drop-shadow(0px 8px 8px black);
	
}




.photos{
	margin-top: 8vmin!important;

	color:#3b5998;
	background-color: white;
	padding-bottom: 5vmin;
		filter: drop-shadow(0px 8px 8px black);
	

}



.about-section{
	margin-top: 8vmin!important;

	background-color: white;
	padding-right: 0;
	padding-left: 0;
		filter: drop-shadow(0px 8px 8px black);
}
.tindex-nav{
	border-bottom-style: none;
	border-right-style: none;
	border-right-width: 0px;
	border-right: none;
}
.tbody{
	padding:5vmin;
}
.tfambody{
	padding: 3vmin;
}
.table-bi{
	border :none!important;
}
.friends{
	margin-top: 8vmin!important;

	color:#3b5998;
	background-color: white;
	padding-bottom: 5vmin;
	
	filter: drop-shadow(0px 8px 8px black);
}

.btn{
	background-color: #3b5998;
}
.btn-1{
	background-color: #3b5998;	
	text-align: center;
	

}



.photo{
	margin-top: 8vmin!important;

	color:#3b5998;
	background-color: white;
	padding-bottom: 5vmin;
		filter: drop-shadow(0px 8px 8px black);
}
.icon1{
	color:#3b5998;
}




.feed{
	margin-top: 8vmin!important;

	color:#3b5998;
	background-color: white;

	
}
.feed-head{
	padding-bottom: 0;
		filter: drop-shadow(0px 8px 8px black);
}
.addfeed{
	background-color: #3b5998;

}
.feedimg{
    overflow: hidden;
    height: 8vmin;
    width:8vmin;
	box-sizing: border-box;
}



p { word-wrap: break-word; }

#feedname{
	
	width: 20px;
	margin:0;
}
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border-top: 1px solid #3b5998;
    color:#3b5998;

} 
.logo {
    font-size: 400px;
    color:white;
}

  ul li a{
    text-decoration: none;
    color: black;

  }

  ul li:hover{
   
  }

  ul li a:hover{
    color: black;
  }

 a:active{
    color: black;
  }
#error{
	color: white;
	height:80vh;
	margin: auto;
}
#myFooter {
    background-color: white;
    color: #3b5998;
    margin-top: 8vmin;
    width:100%;
    	filter: drop-shadow(0px 8px 8px black);
}

#myFooter .row {
   
}

#myFooter .info{
    text-align: justify; 
    color: #3b5998;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    color: #3b5998;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter .logo{
    margin-top: 10px;
}

#myFooter .second-bar .logo a{
    color:#3b5998;
    font-size: 28px;
    float: left;
    font-weight: bold;
    line-height: 68px;
    margin: 0;
    padding: 0;
}

#myFooter a {
    color: #3b5998;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: #3b5998;
}


@media screen and (min-width: 300px) and (max-width: 768px) {
	h4{
	font-size: 15px;
}
p{
	font-size: 12px;
}
h5{
	font-size: 13px;
}
}
@media screen and (min-width: 160px) and (max-width: 299px) {
	h4{
	font-size: 13px;
}
p{
	font-size: 10px;
}
h5{
	font-size: 11px;
}
#site-head{
	font-size: 13px;
}

.btn-1{
	height:7vmin;
	width:12vmin;
	align-content: center;
	text-align: center;
	font-size: 7px;
	padding:0;
}
.profileNavbar{
	font-size: 10px;
}
.mainNavbar{
	font-size: 10px;
}
#myname{
	font-size: 13px;
}
#textarea{
	font-size: 10px;
}
.btn-responsive{
	margin-right: 0;	
}
}
@media screen and (min-width: 120px) and (max-width: 159px){
		h4{
	font-size: 9px;
}
p{
	font-size: 6px;
}
h5{
	font-size: 7px;
}
#site-head{
	font-size: 9px;
	padding: 0;
}
#textarea{
	font-size: 6px;
}

.btn-1{
	height:7vmin;
	width:12vmin;
	align-content: center;
	text-align: center;
	font-size: 7px;
	padding:0;
}
.profileNavbar{
	font-size: 7px;
}
.mainNavbar{
	font-size: 7px;
}
#myname{
	font-size: 8px;
}
.btn-responsive{
	margin-right: 0;	
}
}

@media screen and (max-width: 119px){
		h4{
	font-size: 9px;
}
p{
	font-size: 6px;
}
h5{
	font-size: 7px;
}
#site-head{
	font-size: 9px;
	padding: 0;
}
#textarea{
	font-size: 6px;
}

.btn-1{
	height:7vmin;
	width:12vmin;
	align-content: center;
	text-align: center;
	font-size: 7px;
	padding:0;
}
.profileNavbar{
	font-size: 7px;
}
.mainNavbar{
	font-size: 7px;
}
#myname{
	font-size: 8px;
}
.btn-responsive{
	margin-right: 0;	
}
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }

    #myFooter .info{
        text-align: center;
    }
.feedvalue{
	padding:2%;
	padding-bottom: 0;
	width:70%;
	margin:15%;
	margin-bottom: 4%;
	margin-top: 4%;
	background-color: white;
		filter: drop-shadow(0px 8px 8px black);
}

.feedcover{
	 background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    overflow: hidden;
	box-sizing: border-box;
	margin:2.1%;
	margin-right: 0;
	margin-left: 0;
}
.feedhead{
	font-size: 2vmin;
	vertical-align: top;
	display: inline-block;
	margin-top: 0;
	margin-left: 1vmin;
	word-wrap: break-word; 
	width: 40vw;
	height:8vmin;
		filter: drop-shadow(0px 8px 8px black);
}

}
@media screen and (min-width: 768px) {
    #myFooter {
        text-align: center;
    }

    #myFooter .info{
        text-align: center;
    }

.feedvalue{
	padding:0;
	margin:4.16%;
	padding:2%;
	padding-bottom: 0;
	background-color: white;
		filter: drop-shadow(0px 8px 8px black);
}
.feedcover{
	 background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    overflow: hidden;
	box-sizing: border-box;
	margin:2.1%;
	margin-right: 0;
	margin-left: 0;

}
.feedhead{
	font-size: 2vmin;
	vertical-align: top;
	display: inline-block;
	margin-top: 0;
	margin-left: 1vmin;
	word-wrap: break-word; 
	width: 20vw;
	height:8vmin;

}
#myFooter h5 {
    font-size: 18px;
}
}
@media screen and (min-width: 481px) {
   .photoimg{
	
	 background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    overflow: hidden;
    height: 15vw;
    filter: drop-shadow(0px 8px 8px black);
	box-sizing: border-box;
	margin:4.1%;
}
.movieimg{
	
	 background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    overflow: hidden;
    height:15vw;
    filter: drop-shadow(0px 8px 8px black);
	box-sizing: border-box;
	margin:4.1%;
}

.friendimg{
	 background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    overflow: hidden;
    height: 15vw;
	box-sizing: border-box;
	margin:4.1%;
	filter: drop-shadow(0px 8px 8px black);
}
.aboutnew,.photos,.photo,.friends,.about-section,.movies,.jumboProfile,.profileNavbar,.feed{
	margin-left: 10%;
	margin-right: 10%;
}


}


@media screen and (max-width: 481px) {
   
.photoimg{

	 background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    overflow: hidden;
    text-align: center;
    width: 50%;
    filter: drop-shadow(0px 8px 8px black);
	box-sizing: border-box;
	margin:25%;
	margin-top: 4.1%;
	margin-bottom: 4.1%;
}
.movieimg{

	 background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    overflow: hidden;
    text-align: center;
    width: 50%;
    filter: drop-shadow(0px 8px 8px black);
	box-sizing: border-box;
	margin:25%;
	margin-top: 4.1%;
	margin-bottom: 4.1%;
}
.friendimg{
	
	 background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    overflow: hidden;
  
    text-align: center;
    width: 50%;
    filter: drop-shadow(0px 8px 8px black);
	box-sizing: border-box;
	margin:25%;
	margin-top: 4.1%;
	margin-bottom: 4.1%;
}

.aboutnew,.photos,.photo,.friends,.about-section,.movies,.jumboProfile,.profileNavbar,.feed{
	margin-left: 0;
	margin-right: 0;
}


}

  /* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
  .slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide; 
    /* The duration of the animation */
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible; 
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 8px solid white;
  border-radius: 50%;
  border-top: 8px solid black;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}

